<div class="content-header">
    <div class="flexBox">
        <div class="flex-box-2">
            <h3>{{ site.author }}</h3>
            <h1>{{ site.description }}</h1>
            <div class="bg">
                <p><i class="fas fa-angle-double-right"></i> Make Innovative<span> Design</span></p>
                <p><i class="fas fa-angle-double-right"></i> Responsive Web<span> Design</span></p>
                <p><i class="fas fa-angle-double-right"></i> Web Design<span> Speed</span></p>
                <p><i class="fas fa-angle-double-right"></i><span> Seo</span>Friendly Design Web</p>
            </div>
        </div>
        <div class="flex-box-2">
            <img class="banner" src="/assets/images/banner-5.png" alt="acha81">
        </div>
    </div>
</div>