<div class="build">
    <div class="main">
        <div class="box">
            <div class="box-2">
                <div class="buildBx center">
                    <img src="/assets/images/sass.gif" alt="sass">
                </div>
            </div>
            <div class="box-2">
                <div class="buildBx">
                    <h4><i class="fab fa-sass"></i></h4>
                    <h3>Project Hosting github pages, GITHUB.</h3>
                    <p>Dengan beberapa pengecualian kecil, ini adalah superset dari CSS, yang berarti pada dasarnya
                        semua CSS yang valid juga merupakan SCSS yang valid. Karena kemiripannya dengan CSS, ini adalah
                        sintaksis termudah untuk digunakan dan paling populer.</p>
                </div>
            </div>
        </div>
    </div>
</div>