<div class="build">
    <div class="container">
        <div class="Box">
            <div class="box-2">
                <div class="buildBx">
                    <h4><i class="fab fa-git-square"></i></h4>
                    <h3>Project Hosting github pages, GITHUB.</h3>
                    <p>GitHub menyatukan komunitas pengembang terbesar di dunia untuk menemukan, berbagi, dan
                        membangun
                        perangkat lunak yang lebih baik. Dari proyek open source ke tim pribadi.</p>
                </div>
            </div>
            <div class="box-2">
                <div class="buildBx center">
                    <img src="/assets/images/github.gif" alt="sass">
                </div>
            </div>
        </div>
    </div>
</div>