<div class="container-fluid padding">
<div class="row text-center padding">
<div class="col-12">
<h4>Media Social</h4>
<br>
</div>
<div class="col-12 social padding">
<a href="https://web.facebook.com/Acha81-105554770864176/"><i class="fab fa-facebook"></i></a>
<a href="https://twitter.com/Acha81"><i class="fab fa-twitter"></i></a>
<a href="https://www.youtube.com/channel/UCjLtDylMlg7JMZQcqZgDr9A"><i class="fab fa-youtube"></i></a>
<a href="https://www.instagram.com/acha81_/"><i class="fab fa-instagram"></i></a>
<a href="https://t.me/Acha81"><i class="fab fa-telegram"></i></a>
</div>
</div>
</div>
