<div class="footer">
    <div class="container">
        <div class="row mx-md-n5 justify-content-center">
            <div class="col-lg-5">
                <div class="p-3">Copyright © 2019-2020 Copas-Seo</div>
            </div>
            <div class="col-lg-5">
                <div class="p-3">
                    <ul>
                        <li><a href="/privacy-policy.html">Privacy</a></li>
                        <li><a href="/disclaimer.html">Disclaimer</a></li>
                        <li><a href="/contact.html">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="application/ld+json">
    {
            "@context": "http://schema.org",
            "@type": "WebSite",
            "url": "https://copas-seo.github.io/",
            "potentialAction": {
                "@type": "SearchAction",
                "target": "https://copas-seo.github.io/search/?q={search_term_string}",
                "query-input": "required name=search_term_string"
            }
        }
</script>