<div class="footer">
    <div class="container">
        <div class="row mx-md-n5 justify-content-center">
            <div class="col-lg-5">
                <div class="p-3">Copyright © 2019-2020 Copas-Seo</div>
            </div>
            <div class="col-lg-5">
                <div class="p-3">
                    <ul>
                        <li><a href="/privacy-policy.html">Privacy</a></li>
                        <li><a href="/disclaimer.html">Disclaimer</a></li>
                        <li><a href="/contact.html">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="application/ld+json">

[36mLine: 1[0m
[31m[36 mLine : 1 [[0m
[31m        0 m [[0m
[31m            31 m {[0m
[31m                [[0m
[31m                    0 m [[0m
[31m                        31 m "@context" : "http://schema.org",[0m
[31m                        [[0m
</script>
