<head>
<meta charset="UTF-8">
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<meta content="ie=edge" http-equiv="X-UA-Compatible">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="w9_9ADRQGCKpGoS_sURAvMvLZV4YpS97p0xU6RK8ytU" name="google-site-verification"/>

{% feed_meta %}

{% seo %}

<link href="/images/favicon.png" rel="shortcut icon" type="image/x-icon">

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
<link href="/css/style.css" rel="stylesheet" type="text/css"/>
<link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml"/>
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>

<script type="application/ld+json">{"@context":"http://schema.org","@type":"WebSite","name":"Copas Seo","url":"https:\/\/www.petanikode.com","potentialAction":{"@type":"SearchAction","target":"https:\/\/www.copas-seo.my.id/search/?query={search_term_string}","query-input":"required name=search_term_string"}}</script>
