<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="google-site-verification" content="w9_9ADRQGCKpGoS_sURAvMvLZV4YpS97p0xU6RK8ytU" />
    <link href="{{ site.baseurl }}/assets/images/favicon.png" rel="shortcut icon" type="image/x-icon">
    <title>{{ page.title }} {{ site.title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <script src="/assets/js/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
    {% feed_meta %}
    {% seo %}
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}"
        href="{{ site.baseurl }}/feed.xml" />
</head>
