<script>
  window.onscroll = function(ev) {
    lazyload();
  }
  function lazyload(){
    var lazyimage = document.getElementsByClassName("lazy");
    for(var i=0;i<lazyimage.length;i++){
      if(ElementInViewport(lazyimage[i])){
        lazyimage[i].setAttribute("src",lazyimage[i].getAttribute("data-src"));
      }
    }
  }

  function ElementInViewport(el){
    var rect = el.getBoundingClientRect();
    return (
      rect.top >= 0 &&
      rect.left >=0 &&
      rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
      rect.right <= (window.innerWidth || document.documentElement.clientWidth)
    );
  }
</script>