<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand">COPAS SEO</a>
        <button class="navbar-toggler" data-target="#navbarResponsive" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                {% for item in site.data.menus.menu %}
                    <a class="nav-item nav-link" href='{{item.link}}'>{{item.title}}</a>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
<!--End Navbar-->
