<nav class="navbar navbar-expand-lg navbar-light">
    <!--Navbar-->
    <div class="container">
        <a class="navbar-brand" href="/">COPAS-SEO</a>
        <button aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarNavAltMarkup" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"/>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link" href="/">Home
                    <span class="sr-only">(current)</span>
                </a>
                <a class="nav-item nav-link" href="about.html">About</a>
                <a class="nav-item nav-link" href="privacy-policy.html">Privacy</a>
                <a class="nav-item nav-link" href="disclaimer.html">Disclaimer</a>
                <a class="nav-item nav-link" href="contact.html">Contact Us</a>
            </div>
        </div>
    </div>
</nav>
<!--End Navbar-->


<div class="jumbotron jumbotron-fluid">
    <!--Jumbotron-->
    <div class="container">
        <h1 class="display-4">Berbagi Informasi
            <span>Adsense</span>
            <br/>
            <span>Blogging</span>
            dan
            <span>Template</span>
        </h1>
        <a class="btn btn-primary tombol" href="/">ACHA81</a>
    </div>
</div>
<!--End Jumbotron-->


<div class="container">
    <!-- Container panel Menu -->
    <div class="row justify-content-center">
        <!-- panel Menu -->
        <div class="col-10 panel-menu">
            <div class="row">
                <div class="col-lg">
                    <img alt="Adsense" class="float-left" src="/images/menu-adsense.jpg"/>
                    <a class="btn btn-primary tombol" href="adsense.html">Go To ADSENSE</a>
                </div>
                <div class="col-lg">
                    <img alt="Blogging" class="float-left" src="/images/menu-blog.jpg"/>
                    <a class="btn btn-primary tombol" href="blog.html">Go To BLOG</a>
                </div>
                <div class="col-lg">
                    <img alt="Template" class="float-left" src="/images/menu-template"/>
                    <a class="btn btn-primary tombol" href="template.html">Go To TEMPLATE</a>
                </div>
            </div>
        </div>
    </div><!-- End panel Menu -->
</div>
<!-- End Container panel Menu -->