<div class="pagination">
    {% if page.next.url %}
    <div class="previous">
        <a aria-label="Prev" href="{{ page.next.url | relative_url }}">
            <p>
                <i class="fa fa-chevron-left"></i>
                {{ site.data.language.str_previous_post | default: "Prev" }}</p>
        </a>
    </div>
    {% endif %}

    {% if page.previous.url %}
    <div class="next">
        <!-- next > -->
        <a aria-label="Next" href="{{ page.previous.url | relative_url }}">
            <p>{{ site.data.language.str_next_post | default: "Next"}}
                <i class="fa fa-chevron-right"></i>
            </p>
        </a>
    </div>
    {% endif %}
</div>