<script>
    window.onscroll = function (ev) {
        lazyload();
    }

    function lazyload() {
        var lazyimage = document.getElementsByClassName("lazy");
        for (var i = 0; i < lazyimage.length; i++) {
            if (ElementInViewport(lazyimage[i])) {
                lazyimage[i].setAttribute("src", lazyimage[i].getAttribute("data-src"));
            }
        }
    }

    function ElementInViewport(el) {
        var rect = el.getBoundingClientRect();
        return (
            rect.top >= 0 &&
            rect.left >= 0 &&
            rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
            rect.right <= (window.innerWidth || document.documentElement.clientWidth)
        );
    }
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-151109891-3']);
    _gaq.push(['_gat._forceSSL']);
    _gaq.push(['_gat._anonymizeIp']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') +
            '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
</script>