@import url('https://fonts.googleapis.com/css?family=Monda|Viga&display=swap');

$light: #d3e1f7;
$white: #fff;
$fontColor: #515151;
$prymarydark: #0263c4;
$prymary: #0280fe;
$pinky: #fd3bd7;
$hover: #7f1c6b;
$shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.9);
$viga: 'Viga',
sans-serif;
$monda: 'Monda',
sans-serif;