@import url("https://fonts.googleapis.com/css?family=Montserrat+Alternates|Viga&display=swap");
.Box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: .5s;
  transition: .5s;
}

.box-1,
.box-2,
.box-3,
.box-4,
.box8,
.box4 {
  position: relative;
  width: 100%;
  -webkit-transition: .5s;
  transition: .5s;
}

.container {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
  -webkit-transition: .5s;
  transition: .5s;
}

@media (min-width: 576px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #515151;
  background: #d3e1f7;
  margin: 0;
  padding: 0;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  -webkit-transition: all .5s;
  transition: all .5s;
  display: block;
}

body header {
  position: relative;
  width: 100%;
  height: auto;
  background: #0280fe url(/assets/images/lines.svg) no-repeat center center/cover;
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.9);
          box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.9);
}

body header .header-sticky.sticky {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #00000069;
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.9);
          box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.9);
  z-index: 1;
  -webkit-transition: .5s;
  transition: .5s;
}

body header .header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 10px 50px;
  height: 70px;
}

body header .header-top .fa-search {
  position: absolute;
  top: 17px;
  right: 17%;
}

@media (min-width: 576px) {
  body header .header-top .fa-search {
    position: absolute;
    top: 17px;
    right: 10%;
  }
}

@media (min-width: 768px) {
  body header .header-top .fa-search {
    position: relative;
    top: 5px;
    right: 10px;
  }
}

body header .header-top .fa-search:before {
  color: #fd3bd7;
  line-height: 2.6;
}

body header .header-top .search {
  position: absolute;
  right: 10%;
  top: 60px;
  border-top: 2px solid #fd3bd7;
  display: none;
  z-index: 1;
}

body header .header-top .search input[type="text1"] {
  width: 100%;
  padding: 5px 10px;
  border: 1px solid #fd3bd7;
  outline: none;
}

body header .header-top .search #results-container {
  position: relative;
  padding: 0 0 0 10px;
  background-color: #07407e;
}

body header .header-top .search #results-container li a {
  color: #ebf5fc;
}

body header .header-top #search1 {
  display: none;
}

body header .header-top .logo {
  margin-left: -30px;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 1003;
}

@media (min-width: 576px) {
  body header .header-top .logo {
    margin: 0;
    -webkit-transition: .5s;
    transition: .5s;
  }
}

body header .header-top .logo img {
  width: 150px;
  height: 50px;
}

body header .header-top .header-menu {
  line-height: 50px;
  position: relative;
  margin-left: auto;
  display: none;
  -webkit-transition: .5s;
  transition: .5s;
}

@media (min-width: 768px) {
  body header .header-top .header-menu {
    display: block;
    -webkit-transition: .5s;
    transition: .5s;
  }
}

body header .header-top .header-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body header .header-top .header-menu ul li {
  margin: 0 5px;
  -webkit-transition: .5s;
  transition: .5s;
}

@media (min-width: 992px) {
  body header .header-top .header-menu ul li {
    margin: 0 10px;
    -webkit-transition: .5s;
    transition: .5s;
  }
}

body header .header-top .header-menu ul li a {
  position: relative;
  color: #ebf5fc;
  font-size: 16px;
  font-family: "Viga", sans-serif;
  padding: 5px 10px;
  z-index: 1;
  -webkit-transition: .5s;
  transition: .5s;
}

body header .header-top .header-menu ul li a:hover {
  color: #0280fe;
}

body header .header-top .header-menu ul li a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 1px solid #ebf5fc;
  border-bottom: 1px solid #ebf5fc;
  -webkit-transform: scaleY(2);
  transform: scaleY(2);
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: -1;
}

body header .header-top .header-menu ul li a:hover::before {
  -webkit-transform: scaleY(1.2);
          transform: scaleY(1.2);
  opacity: 1;
}

body header .header-top .header-menu ul li a::after {
  content: '';
  position: absolute;
  top: .3px;
  left: 0;
  width: 100%;
  height: 100%;
  background: #d3e1f7;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: .5s;
  transition: .5s;
  z-index: -1;
}

body header .header-top .header-menu ul li a:hover::after {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

body header .header-top .header-icon {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 1001;
}

body header .header-top .header-close {
  display: none;
}

body header .header-top .social-icon {
  display: none;
}

body header .header-top.nav {
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  background: #0280fe url(/assets/images/line.svg) no-repeat center center/cover;
  display: block;
  text-align: center;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 1;
}

body header .header-top.nav #search1 {
  display: block;
  max-width: 500px;
  margin: auto;
  margin-top: 50px;
}

body header .header-top.nav .logo {
  margin: 10px;
  -webkit-transition: .5s;
  transition: .5s;
}

body header .header-top.nav .header-menu {
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px auto;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .5s;
  transition: .5s;
}

body header .header-top.nav .header-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 700px;
}

body header .header-top.nav .header-menu ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 40%;
      -ms-flex: 40%;
          flex: 40%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff0;
  margin: 5px;
  padding: 1rem;
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.9);
          box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.9);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

body header .header-top.nav .header-menu ul li a {
  font-size: 1.2em;
  line-height: 20px;
}

body header .header-top.nav .header-close {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  cursor: pointer;
}

body header .header-top.nav .header-icon {
  display: none;
}

body header .header-top.nav .social-icon {
  display: block;
  font-size: 3em;
  margin-top: -20px;
  -webkit-transition: .5s;
  transition: .5s;
}

body header .header-top.nav .social-icon a {
  margin: 0 10px;
}

body header .header-top.nav .social-icon .fa-facebook {
  color: #d3e1f7;
  -webkit-transition: .5s;
  transition: .5s;
}

body header .header-top.nav .social-icon .fa-twitter {
  color: #03A9F4;
  -webkit-transition: .5s;
  transition: .5s;
}

body header .header-top.nav .social-icon .fa-youtube {
  color: #dd123b;
  -webkit-transition: .5s;
  transition: .5s;
}

body header .header-top.nav .social-icon .fa-instagram {
  color: #df25d8;
  -webkit-transition: .5s;
  transition: .5s;
}

body header .header-top.nav .social-icon .fa-telegram {
  color: #5cb7ff;
  -webkit-transition: .5s;
  transition: .5s;
}

body header .header-top.nav .social-icon .fa-facebook:hover,
body header .header-top.nav .social-icon .fa-twitter:hover,
body header .header-top.nav .social-icon .fa-youtube:hover,
body header .header-top.nav .social-icon .fa-instagram:hover,
body header .header-top.nav .social-icon .fa-telegram:hover {
  -webkit-transform: translate(0, -20px);
          transform: translate(0, -20px);
  -webkit-transition: .5s;
  transition: .5s;
}

body header .container .Box {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  body header .container .Box .box-2 {
    max-width: 50%;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

body header .container .Box .box-2 h3 {
  top: 0;
  left: 0;
  font-size: 28px;
  text-transform: uppercase;
  font-family: "Viga", sans-serif;
  color: #ebf5fc;
  margin-top: 20px;
}

@media (min-width: 576px) {
  body header .container .Box .box-2 h3 {
    font-size: 38px;
  }
}

@media (min-width: 768px) {
  body header .container .Box .box-2 h3 {
    margin: 0;
  }
}

@media (min-width: 992px) {
  body header .container .Box .box-2 h3 {
    font-size: 48px;
  }
}

body header .container .Box .box-2 h3 span {
  color: #fd3bd7;
}

body header .container .Box .box-2 h1 {
  top: 0;
  left: 0;
  text-transform: uppercase;
  font-size: 18px;
  color: #ebf5fc;
}

body header .container .Box .box-2 h1 span {
  color: #fd3bd7;
}

body header .container .Box .bg {
  background-color: #000000a4;
  text-align: left;
  padding: 10px;
  margin: 10px 0;
  color: #ebf5fc;
}

@media (min-width: 576px) {
  body header .container .Box .bg {
    padding: 30px;
    text-align: center;
  }
}

body header .container .Box .bg p {
  font-size: 16px;
}

body header .container .Box .bg p span {
  color: #fd3bd7;
}

body header .container .Box .banner {
  margin-top: -20px;
}

@media (min-width: 576px) {
  body header .container .Box .banner {
    margin-top: -50px;
  }
}

body .build {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff40;
  border-radius: 20px;
  margin: 100px 20px 0;
  padding: 20px 0;
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.9);
          box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.9);
}

@media (min-width: 576px) {
  body .build {
    margin: 100px 50px 0;
  }
}

@media (min-width: 768px) {
  body .build .container .Box .box-2 {
    max-width: 50%;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

body .build .container .Box .box-2 .buildBx {
  top: 0;
  left: 0;
  color: #0280fe;
  margin: 0;
  padding: 10px;
}

@media (min-width: 576px) {
  body .build .container .Box .box-2 .buildBx {
    margin: 10px;
    padding: 20px 0;
  }
}

body .build .container .Box .box-2 .buildBx h4 {
  font-size: 8em;
  text-align: center;
}

body .build .container .Box .box-2 .buildBx h4 .fa-git-square {
  color: #007bfe;
  -webkit-animation: movingUp 1.5s infinite alternate;
          animation: movingUp 1.5s infinite alternate;
}

body .build .container .Box .box-2 .buildBx h4 .fa-sass {
  color: #fd3bd7;
  -webkit-animation: movingUp 1.5s infinite alternate;
          animation: movingUp 1.5s infinite alternate;
}

body .build .container .Box .box-2 .buildBx h3 {
  font-size: 20px;
  font-family: "Viga", sans-serif;
  -webkit-transition: .5s;
  transition: .5s;
}

@media (min-width: 576px) {
  body .build .container .Box .box-2 .buildBx h3 {
    font-size: 24px;
    -webkit-transition: .5s;
    transition: .5s;
  }
}

@media (min-width: 768px) {
  body .build .container .Box .box-2 .buildBx h3 {
    font-size: 28px;
    -webkit-transition: .5s;
    transition: .5s;
  }
}

body .build .container .Box .box-2 .buildBx p {
  font-size: 16px;
  -webkit-transition: .5s;
  transition: .5s;
}

@media (min-width: 576px) {
  body .build .container .Box .box-2 .buildBx p {
    font-size: 18px;
    -webkit-transition: .5s;
    transition: .5s;
  }
}

body .build .container .Box .box-2 .buildBx.center {
  text-align: center;
}

body section {
  position: relative;
  margin-top: 50px;
}

@media (min-width: 576px) {
  body section {
    margin-top: 100px;
  }
}

body section .container .Box .box-1 .bodyBx {
  text-align: center;
  color: #0280fe;
  max-width: 700px;
  margin: auto;
}

body section .container .Box .box-1 .bodyBx h3 {
  font-size: 38px;
  font-family: "Viga", sans-serif;
}

body section .container .Box .box-1 .bodyBx p {
  font-size: 18px;
}

@media (min-width: 768px) {
  body section .container .Box .box-3 {
    max-width: 50%;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    -webkit-transition: .5s;
    transition: .5s;
  }
}

@media (min-width: 992px) {
  body section .container .Box .box-3 {
    max-width: 33.3333%;
    -ms-flex-preferred-size: 33.3333%;
        flex-basis: 33.3333%;
    -webkit-transition: .5s;
    transition: .5s;
  }
}

body section .container .Box .box-3.ma {
  margin: auto;
}

body section .container .Box .box-3 .cardBx {
  position: relative;
  background: #0280fe url(/assets/images/liness.svg) no-repeat;
  background-size: cover;
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.9);
          box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.9);
  margin: 0;
  border-radius: 15px;
  -webkit-transition: .5s;
  transition: .5s;
  margin-bottom: 20px;
}

body section .container .Box .box-3 .cardBx:hover {
  -webkit-transform: translate(0, -20px);
          transform: translate(0, -20px);
  -webkit-transition: .5s;
  transition: .5s;
}

@media (min-width: 576px) {
  body section .container .Box .box-3 .cardBx {
    margin: 0 30px;
  }
}

body section .container .Box .box-3 .cardBx .bg {
  background: #fff0;
  border-radius: 15px 15px 0 0;
  font-size: 8em;
  text-align: center;
}

body section .container .Box .box-3 .cardBx .bg .fa-html5 {
  color: #0390ff;
  -webkit-animation: movingUp 1.5s infinite alternate;
          animation: movingUp 1.5s infinite alternate;
}

body section .container .Box .box-3 .cardBx .bg .fa-css3 {
  color: #00b0ff;
  -webkit-animation: movingUp 2s infinite alternate;
          animation: movingUp 2s infinite alternate;
}

body section .container .Box .box-3 .cardBx .bg img {
  max-width: 100%;
  height: 110px;
  position: relative;
  top: 20px;
  -webkit-animation: movingUp 2.5s infinite alternate;
          animation: movingUp 2.5s infinite alternate;
}

body section .container .Box .box-3 .cardBx .bg1 {
  background: #010158a6;
  padding: 20px 0 20px 20px;
  color: #ebf5fc;
  border-radius: 0 0 15px 15px;
}

body section .container .Box .box-3 .cardBx .bg1 h3 {
  font-size: 24px;
  font-family: "Viga", sans-serif;
}

@media (min-width: 576px) {
  body section .container .Box .box-3 .cardBx .bg1 h3 {
    font-size: 28px;
  }
}

body section .container .Box .box-3 .cardBx .bg1 p {
  font-size: 16px;
}

@media (min-width: 576px) {
  body section .container .Box .box-3 .cardBx .bg1 p {
    font-size: 20px;
  }
}

body .container .Box .box-3 {
  margin: auto;
}

@media (min-width: 768px) {
  body .container .Box .box-3 {
    max-width: 50%;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media (min-width: 992px) {
  body .container .Box .box-3 {
    max-width: 33.3333%;
    -ms-flex-preferred-size: 33.3333%;
        flex-basis: 33.3333%;
  }
}

body .container .Box .box-3 .portfolio {
  position: relative;
  max-width: 100%;
  max-height: 300px;
  margin: 20px 0;
  background: #0280fe url(/assets/images/liness.svg) no-repeat;
  border-radius: 15px;
  -webkit-transition: .5s;
  transition: .5s;
}

body .container .Box .box-3 .portfolio:hover {
  -webkit-transform: translate(0, -20px);
          transform: translate(0, -20px);
  -webkit-transition: .5s;
  transition: .5s;
}

@media (min-width: 576px) {
  body .container .Box .box-3 .portfolio {
    margin: 20px;
  }
}

body .container .Box .box-3 .portfolio .bg {
  background: #fff0;
  padding: 20px 0;
  text-align: center;
}

body .container .Box .box-3 .portfolio .bg .info {
  margin-bottom: 10px;
}

body .container .Box .box-3 .portfolio .bg span {
  color: #fff;
}

body .container .Box .box-3 .portfolio .bg img {
  width: 200px;
}

body .container .Box .box-3 .portfolio .bg .fa-tags {
  color: #fff;
}

body .container .Box .box-3 .portfolio .bg1 {
  background: #010158a6;
  height: 100px;
  border-radius: 15px;
}

body .container .Box .box-3 .portfolio .bg1 h1 {
  color: #ebf5fc;
  font-size: 16px;
  font-family: "Viga", sans-serif;
  padding: 10px 20px;
}

@media (min-width: 576px) {
  body .container .Box .box-3 .portfolio .bg1 h1 {
    font-size: 18px;
  }
}

body .blog-portfolio {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 100px;
}

body .blog-portfolio .box-1 .bodyBx {
  top: 0;
  left: 0;
  color: #0280fe;
  font-size: 38px;
  font-family: "Viga", sans-serif;
}

body .container .Box .follow {
  position: relative;
  margin-top: 50px;
  text-align: center;
  width: 100%;
}

body .container .Box .follow h4 {
  top: 0;
  left: 0;
  color: #0280fe;
  font-size: 38px;
  font-family: "Viga", sans-serif;
}

body .container .Box .social-icon {
  margin: auto;
  display: block;
  font-size: 3em;
  -webkit-transition: .5s;
  transition: .5s;
  text-align: center;
}

body .container .Box .social-icon a {
  margin: 0 10px;
}

body .container .Box .social-icon .fa-facebook {
  color: #2195f3;
  -webkit-transition: .5s;
  transition: .5s;
}

body .container .Box .social-icon .fa-twitter {
  color: #346dd6;
  -webkit-transition: .5s;
  transition: .5s;
}

body .container .Box .social-icon .fa-youtube {
  color: #dd123b;
  -webkit-transition: .5s;
  transition: .5s;
}

body .container .Box .social-icon .fa-instagram {
  color: #df25d8;
  -webkit-transition: .5s;
  transition: .5s;
}

body .container .Box .social-icon .fa-telegram {
  color: #3374ee;
  -webkit-transition: .5s;
  transition: .5s;
}

body .container .Box .social-icon .fa-facebook:hover,
body .container .Box .social-icon .fa-twitter:hover,
body .container .Box .social-icon .fa-youtube:hover,
body .container .Box .social-icon .fa-instagram:hover,
body .container .Box .social-icon .fa-telegram:hover {
  -webkit-transform: translate(0, -20px);
          transform: translate(0, -20px);
  -webkit-transition: .5s;
  transition: .5s;
}

body .container .Box .box8-page {
  margin: auto;
  max-width: 70%;
}

body .container .Box .box8-page .page {
  position: relative;
  background-color: #fff;
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.9);
          box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.9);
  margin-top: 30px;
}

body .container .Box .box8-page .page .page-content {
  padding: 50px;
}

body footer {
  width: 100%;
  height: auto;
  margin-top: 10em;
  background: #0280fe url(/assets/images/line.svg) no-repeat center center/cover;
  color: #ebf5fc;
  padding: 0;
  border-top-left-radius: 40px;
  -webkit-transform: skewY(-2deg);
          transform: skewY(-2deg);
  padding: 3em 2em;
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.9);
          box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.9);
}

body footer::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 80px;
  background: #0280fe;
  top: -6%;
  right: 0;
  z-index: -2;
}

@media (min-width: 768px) {
  body footer::before {
    top: -10%;
  }
}

@media (min-width: 992px) {
  body footer::before {
    top: -15%;
  }
}

body footer::after {
  content: '';
  position: absolute;
  width: 80px;
  height: 80px;
  background: #d3e1f7;
  top: -80px;
  right: 0;
  border-radius: 50%;
  z-index: -1;
}

body footer .container .Box {
  -webkit-transform: skewY(2deg);
          transform: skewY(2deg);
}

body footer .container .Box .box-3 .cardBx {
  position: relative;
  background: #fff;
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.9);
          box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.9);
  margin: 20px -20px;
}

@media (min-width: 576px) {
  body footer .container .Box .box-3 .cardBx {
    margin: 20px;
  }
}

body footer .container .Box .box-3 .cardBx .list-group {
  padding: 10px;
}

body footer .container .Box .box-3 .cardBx .list-group h2 {
  color: #0280fe;
}

body footer .container .Box .box-3 .cardBx .list-group ul {
  padding: 10px 0 0 20px;
}

body footer .container .footer-credits {
  -webkit-transform: skewY(2deg);
          transform: skewY(2deg);
  text-align: center;
}

body footer .container .footer-credits p {
  font-size: 18px;
}

body footer .container .footer-credits p a {
  color: #d3e1f7;
  text-transform: uppercase;
  font-family: "Viga", sans-serif;
}

body footer .container .footer-links {
  top: 0;
  left: 0;
}

body footer .container .footer-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 576px) {
  body footer .container .footer-links ul {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

body footer .container .footer-links ul li {
  margin: 0 20px;
}

body footer .container .footer-links ul li a {
  color: #d3e1f7;
  font-size: 18px;
}

body .container .Box {
  margin: 0 -15px;
}

@media (min-width: 992px) {
  body .container .Box .box8 {
    max-width: 66.6666%;
    -ms-flex-preferred-size: 66.6666%;
        flex-basis: 66.6666%;
  }
}

body .container .Box .box8 .news-content {
  position: relative;
  background-color: #fff;
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.9);
          box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.9);
  padding: 30px 20px;
  max-width: 100%;
  color: #515151;
  margin: 30px 0;
  border-radius: 5px;
}

@media (min-width: 992px) {
  body .container .Box .box8 .news-content {
    margin: 30px 10px 30px 0;
  }
}

body .container .Box .box8 .news-content #breadcrumbs {
  position: relative;
  margin-top: -15px;
  font-size: 14px;
}

body .container .Box .box8 .news-content #breadcrumbs a {
  color: #0280fe;
}

body .container .Box .box8 .news-content .post-header {
  top: 0;
  left: 0;
}

body .container .Box .box8 .news-content .post-header h1 {
  font-family: "Viga", sans-serif;
  font-size: 24px;
}

@media (min-width: 576px) {
  body .container .Box .box8 .news-content .post-header h1 {
    font-size: 28px;
  }
}

body .container .Box .box8 .news-content .post-image {
  text-align: center;
}

body .container .Box .box8 .news-content .post-content p {
  font-size: 16px;
  margin: 0 0 1rem;
}

body .container .Box .box8 .news-content .related {
  position: relative;
  margin: 30px;
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.9);
          box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.9);
  padding: 20px;
}

body .container .Box .box8 .news-content .related h5 {
  top: 0;
  left: 0;
  font-size: 24px;
  margin-bottom: 10px;
  border-bottom: 1px solid #000;
  display: inline-block;
  font-family: "Viga", sans-serif;
}

@media (min-width: 992px) {
  body .container .Box .box4 {
    max-width: 33.33333%;
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
  }
}

body .container .Box .box4 .sidebar {
  position: relative;
}

@media (min-width: 768px) {
  body .container .Box .box4 .sidebar {
    margin: 30px 0 10px 20px;
  }
}

body .container .Box .box4 .sidebar .list-group {
  margin-bottom: 20px;
  background: #ffffff40;
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.9);
          box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 0;
}

body .container .Box .box4 .sidebar .list-group h2 {
  font-size: 20px;
  font-weight: 100;
  margin: 0;
  padding: 12px 16px;
  background: #0280fe url(/assets/images/lines.svg) no-repeat center center/cover;
  color: #fff;
  border-radius: 2px 2px 0 0;
}

body .container .Box .box4 .sidebar .list-group-item {
  position: relative;
  display: block;
  padding: .75rem 1.25rem;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

body .pagination {
  display: inline-block;
  text-align: center;
  width: 100%;
  clear: both;
  padding-bottom: 20px;
}

body .pagination:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
}

body .pagination .previous {
  float: left;
}

body .pagination .next {
  float: right;
}

body .pagination a,
body .pagination span {
  padding: 7px 18px;
  border: 1px solid #eee;
  margin-left: -2px;
  margin-right: -2px;
  background-color: #ffffff;
  display: inline-block;
}

a:link,
a:visited {
  -webkit-transition: all .3s;
  transition: all .3s;
  color: #0280fe;
}

figure.highlight {
  background: #111;
  border: none;
  border-radius: 15px;
  padding: 1.5rem 1rem;
  position: relative;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 40px;
          margin-inline-start: 40px;
  -webkit-margin-end: 40px;
          margin-inline-end: 40px;
  margin: 0 0 1rem;
  display: block;
}

figure.highlight pre {
  overflow: visible;
  margin-bottom: 0;
  margin-top: .5rem;
}

.highlight .nt {
  color: #00bcd4;
}

figure.highlight .code-pil {
  position: absolute;
  top: -.7rem;
  background: #111;
  padding: 0 10px;
  color: #66bb6a;
  border-radius: 10px;
}

span.cp {
  color: #ff9a02;
}

.highlight .na {
  color: #de6a00;
}

.highlight .s {
  color: #06902c;
}

figure.highlight code {
  border: none;
  word-break: break-all;
}

pre code {
  font-size: inherit;
  color: inherit;
  word-break: normal;
  border: none;
  color: #ddd;
}

code {
  color: #525f7f;
  border: 1px solid #e9ecef;
  padding: 4px 5px;
  border-radius: 4px;
}

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, liberation mono, courier new, monospace;
  font-size: 1em;
}

article figure {
  margin: 3rem 0;
}

pre {
  white-space: pre-wrap;
  display: block;
  font-size: 87.5%;
  color: #212529;
}

::-moz-selection {
  color: #fff;
  background: #60c17d;
}

::selection {
  color: #fff;
  background: #60c17d;
}

@-webkit-keyframes movingUp {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

@keyframes movingUp {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}
/*# sourceMappingURL=style.css.map */