<!DOCTYPE html>
<html>

    <head>
        <title>
            {% if page.title %}
                {{ page.title }}
                –
            {% endif %}Copas Seo –
            {{ site.description }}
        </title>

        {% include meta.html %}

        <link href="/images/favicon.png" rel="shortcut icon" type="image/x-icon">
        <link href="https://copas-seo.github.io/" rel="canonical"/>
        <link href="https://copas-seo.github.io" rel="me"/>

        <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
        <link href="/css/style.css" rel="stylesheet" type="text/css"/>
        <link href="https://fonts.googleapis.com/css?family=Prompt" rel="stylesheet"/>
        <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml"/>

    </head>

    <body>

        {% include navbar-jumbotron-menu.html %}

        <div class="container">
            <div class="row">
                {{ content }}
            </div>
        </div>
        
        {% include footer.html %}

        {% include analytics.html %}

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    </body>

</html>
