<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png">
  <link href='https://copas-seo.github.io/' rel='canonical' />
  <link rel="me" href="https://copas-seo.github.io" />
  
  <meta content='COPAS SEO : Berbagi info Adsense Publisher . SEO Blog Dan SEO Template' name='description' />
  <meta content='COPAS SEO : Berbagi info Adsense Publisher . SEO Blog Dan SEO Template' property='og:description' />

  <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  <link rel="stylesheet" type="text/css" href="/font-awesome-4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/style-min.css" />
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Prompt" rel="stylesheet" />
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}"
    href="{{ site.baseurl }}/feed.xml" />

</head>

<body>

  {% include navbar-jumbotron-menu.html %}

  <div class="container">
    <div class="row">
      {{ content }}
    </div>
  </div>

  {% include footer.html %}

  {% include analytics.html %}

  <script src="/js/popper.min.js"></script>
  <script src="/js/slim-min.js"></script>
  <script src="/js/min.js"></script>

</body>

</html>